<- Actualizado 16/02: El perfil si tiene valores vacios ahora muestra mensajes por defecto->

<!DOCTYPE html>
<html>
<head>
    <title>Perfil de {{ usuario.NombreUsuario }}</title>
</head>
<body>
    <div>
        <h1>Perfil de {{ usuario.NombreUsuario }}</h1>
        <div>
            <p>Nombre: {{ usuario.NombreUsuario }}</p>
            <p>Correo: {{ usuario.CorreoUsuario }}</p>
            <p>Localidad: {{ usuario.Localidad ? usuario.Localidad : 'Localidad no indicada'}}</p>
            <p>Fecha de Nacimiento: {{ usuario.FechaNacimiento ? usuario.FechaNacimiento|date('d-m-Y') : 'Fecha no indicada' }}</p>
            <p>Otros datos: {{ usuario.Descripcion ? usuario.Descripcion : 'No hay datos de interés'}}</p>
        </div>
    </div>
</body>
</html>
