<link rel="stylesheet" href="{{ asset('CSS/usuarios.css') }}">
<body style="background-image: url('{{ asset('IMG/fondo.jpg') }}')">
{% include 'includes/cabecera.html.twig' %}
    <div class="separador-cabecera"></div>
        <div id="perfiles">
            {% for usuario in usuario %}
                <a href="{{ path('perfil', { 'id': usuario.IdUsuario }) }}">
                    <div class="usuario">
                        <h3>{{ usuario.NombreUsuario }}</h3>
                        <p>Email: {{ usuario.CorreoUsuario }}</p>
                        <p>Localidad: {{ usuario.Localidad ? usuario.Localidad : 'Localidad no indicada'}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{# <script>
    $(document).ready(function() {
        $('#buscadorFinal').on('input', function() {
            var query = $(this).val();

            $.ajax({
                type: 'GET',
                url: '{{ path('buscar_usuarios', '{'valorBusqueda': query }') }}',
                data: { q: query },
                success: function(response) {
                    $('#perfiles').html(response);
                }
            });
        });
    });
</script> #}
