<link rel="stylesheet" href="{{ asset('CSS/usuarios.css') }}">
<body style="background-image: url('{{ asset('IMG/fondo.jpg') }}')">
{% include 'includes/cabecera.html.twig' %}

<div class="separador-cabecera"></div>
<div id="perfiles"></div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var perfilesDiv = document.getElementById("perfiles");
        {% for usuario in usuario %}
            var enlace = document.createElement("a");
            enlace.setAttribute("href", "{{ path('perfil', { 'id': usuario.IdUsuario }) }}");
            var usuarioDiv = document.createElement("div");
            usuarioDiv.classList.add("usuario");
            var titulo = document.createElement("h3");
            titulo.textContent = "{{ usuario.NombreUsuario }}";
            var correo = document.createElement("p");
            correo.textContent = "Email: {{ usuario.CorreoUsuario }}";
            var localidad = document.createElement("p");
            localidad.textContent = "Localidad: {{ usuario.Localidad ? usuario.Localidad : 'Localidad no indicada'}}";
            usuarioDiv.appendChild(titulo);
            usuarioDiv.appendChild(correo);
            usuarioDiv.appendChild(localidad);
            enlace.appendChild(usuarioDiv);
            perfilesDiv.appendChild(enlace);
        {% endfor %}
    });
</script>
</body>

