<header>
    <nav>
        <ul>
            <li><a href="{{ path('inicio') }}">Inicio</a></li>
            <li><a href="{{ path('usuarios')}}">Usuarios</a></li>
            <li><a href="{{ path('perfil') }}">Perfil</a></li>
            <li><a href="{{ path('amistades_pendientes') }}">Amistades Pendientes</a></li>
            <li><a href="{{ path('cerrar_sesion') }}">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <form id="buscador">
        <input type="text" name="q" placeholder="Buscar usuarios">
        <div id="resultado_busqueda"></div>
    </form>
    
    {# Script para AJAX para el buscador #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#formulario-busqueda').submit(function(e) {
                e.preventDefault(); // Evita que se envíe el formulario normalmente

                $.ajax({
                    type: 'GET',
                    url: '{{ path('buscar_usuarios') }}',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#resultado-busqueda').html(response);
                    }
                });
            });
        });
    </script>
</header>
