<link rel="stylesheet" href="{{ asset('CSS/cabecera.css') }}">
<header>
    <nav>
        <ul>
            {% if app.User is not null %}
                <li><a id="nombre">Bienvenido: {{app.User.NombreUsuario}}</a></li>
            {% endif %}
            <li><a href="{{ path('home') }}" class="enlaces_nav">Inicio</a></li>
            <li><a href="{{ path('usuarios')}}" class="enlaces_nav">Usuarios</a></li>
            {% if app.User is not null %}
                <li><a href="{{ path('perfil',{'id': app.User.IdUsuario}) }}" class="enlaces_nav">Perfil</a></li>
            {% endif %}
            <li><a href="{{ path('amistad') }}" class="enlaces_nav">Amistades Pendientes</a></li>
            <li><a href="{{ path('app_logout') }}" class="enlaces_nav">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
