{% extends 'base.html.twig' %}

{% block title %}Gestión de amistades{% endblock %}

{% block body %}
 <header>
			{% block header %}
				{{ include('cabecera.html.twig') }}
				<hr>
			{% endblock %}
        </header>
    <h1>Gestión de amistades</h1>

    <h2>Enviar solicitud de amistad</h2>
    <form action="{{ path('enviar_solicitud_amistad') }}" method="post">
        <label for="usuario_destino_nombre">Nombre de la persona que quieres solicitar:</label>
        <input type="text" id="usuario_destino_nombre" name="usuario_destino_nombre" required>
        <button type="submit">Enviar solicitud</button>
    </form>

    <h2>Solicitudes pendientes</h2>
    {% if solicitudes is defined and solicitudes|length > 0 %}
        <ul>
            {% for solicitud in solicitudes %}
                <li>
                    De: {{ solicitud.getUsuario1().getNombreUsuario() }}
                    {% if solicitud.getEstado() == 'pendiente' %}
                        <a href="{{ path('aceptar_solicitud_amistad', { 'id': solicitud.getId() }) }}">Aceptar</a>
                        <a href="{{ path('denegar_solicitud_amistad', { 'id': solicitud.getId() }) }}">Denegar</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay solicitudes pendientes.</p>
    {% endif %}
{% endblock %}